{% extends "base.html" %}

{% block content %}
<h2>Detail Transaksi</h2>
{% if details %}
<div class="info-box">
    <h3>Informasi</h3>
    <p><strong>👤 Akun:</strong> {{ details.akun }}</p>
    <p><strong>🏷️ Jenis:</strong> {{ details.jenis }}</p>
    {% if details.nama_sebelum %}
    <p><strong>👤 Nama Sebelum:</strong> {{ details.nama_sebelum }}</p>
    <p><strong>👤 Nama Sesudah:</strong> {{ details.nama_sesudah }}</p>
    {% endif %}
    {% if details.nominal != "N/A" %}
    <p><strong>💰 Nominal:</strong> {{ details.nominal }}</p>
    <p><strong>💰 Saldo Sebelum:</strong> {{ details.saldo_sebelum }}</p>
    <p><strong>💰 Saldo Sesudah:</strong> {{ details.saldo_sesudah }}</p>
    {% endif %}
    <p><strong>🕒 Jam:</strong> {{ details.jam }}</p>
    <p><strong>📅 Tgl:</strong> {{ details.tanggal }}</p>
    <p><strong>📈 Status:</strong> <span style="color: {% if details.status == 'Berhasil' %}green{% else %}red{% endif %};">{{ details.status }}</span></p>

    <h3>Informasi Penting:</h3>
    <ul>
        {% for info in details.info_penting %}
        <li>╰┈➤ {{ info }}</li>
        {% endfor %}
    </ul>
</div>
{% else %}
<p>Tidak ada detail transaksi yang ditemukan.</p>
{% endif %}

<a href="{{ url_for('menu') }}" class="button-link" style="margin-top: 20px;">Kembali ke Menu</a>
<a href="{{ url_for('logout') }}" class="button-link logout-button">Logout</a>
{% endblock %}